name: Rust CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Cargo fmt
        run: cargo fmt -- --check
      - name: Cargo build
        run: cargo build --all-targets
      - name: Cargo test
        run: cargo test --all-targets
      - name: Cargo clippy
        run: cargo clippy --all-targets -- -D warnings
